span{
    width: 70px;
    height: 30px;
    line-height: 30px;
    display: block;
    background-color: lightgreen;
    text-align: center;
    border: brown solid 4px;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: 5px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
span:hover{
    background-color: chocolate;
    cursor: pointer;
    
}